@media screen and (min-width: 800px){
    nav.flexbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {        
        display: flex;
        align-items: center;
    }
    
    
        ul li {
            margin-right: 20px;
          
        }
}

body{
	margin:1%;
	padding:1%;
    font-size:150%;
    background-image: url("../images/print.JPEG");
    background-color: lightpink ;
    background-repeat:no-repeat;
    background-size: cover ;
    background-position: center;
}


/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 50px; 
    font-weight: bold;
    color: rgb(247, 38, 184)
    
    
}

/*Style the images*/
img{
    height: 200px;
    width:auto;
    border: 3px solid midnightblue;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}

/*Make the h2 heading match h1*/
h2{
	font-size: 40px; 
    font-weight: bold;
    color: midnightblue;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}

/*Add borders around the main components and some
space too*/

header{
    font-size: 18px;
    border: 1px solid midnightblue;
	margin: 10px 0;
}

nav, main, h1, footer{
	border: 1px solid midnightblue;
	margin: 10px 0;
}





/*Change the styling for all of the list 
items in the nav section*/
nav li{
	background-color: #ffd2fdda;
	padding:10px;
	width:25%;
    border:1px solid black;
    border-radius: 15px;
	display: inline-block;
	width: 20%;
}


a{
    color:midnightblue
}
/*Added this so the links stay the same color*/
a:visited{color:midnightblue}

